{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">{{ fund.name }} Details</h1>
    <p><strong>Category:</strong> {{ fund.category }}</p>
    <p><strong>Inception Date:</strong> {{ fund.inception_date }}</p>
    <p><strong>Fund Manager:</strong> {{ fund.fund_manager }}</p>
    <p><strong>Total Assets:</strong> {{ fund.total_assets }}</p>
    <p><strong>Expense Ratio:</strong> {{ fund.expense_ratio }}%</p>
    <p><strong>Description:</strong> {{ fund.description }}</p>
</div>
{% endblock %}
